<%-include('partial/header')-%>
<h1>Compose</h1>
<form action="/compose" method="post">

<div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control"name="titlebox" ><br>
    <textarea name="postbox" id="" cols="160" rows="10"></textarea><br>
    <button type="submit" class="btn btn-primary mb-2" name="submit">submit</button>
  </div>


</form>
<%-include('partial/footer')-%>

